html{
    background: black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

*{
     margin: 0;
    padding: 0; 
    color: white;
}

body{
    padding: 20px;
    
}

nav{
    padding: 20px;
    border-radius: 5px;
    border: 2px solid grey;
}
nav >p{
    color: white;
}

.container{
    display: flex;
    /* border: 2px solid yellow; */
    margin-top: 30px;
    gap: 20px;
}

.cards{
    padding: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 20px;
}
.card-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right-container{
    padding: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    width: 75%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
}
img{
    width: 30%;
    border-radius: 50%;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
li{
    font-weight: 900px;
    font-size: 14px;
    margin: 10px;
}
i{
    font-size:25px;
}
.LINKs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
table{
    border: 2px solid grey;
    width: 100%;
    margin-top: 20px;
    flex-grow: 1;
   border-radius: 10px;

   border-spacing: 0px;
}
thead{
    border: 20px solid grey;
}

 td{
    padding-left: 10px;
} 
thead td{
    border-bottom: 2px solid grey;
    padding: 10px;
   
}
td{
    border-right: 2px solid grey;
}
table td:nth-child(3){
    border-right: none;
}

input{
    display: none;
}
label{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(222, 218, 218);
    border-radius: 4px;
}

input:checked+label{
    background-color: grey;
}
@media (max-width:700px){
    .container{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}
tr td:nth-child(1){
    width: 40px;
    text-align: center;
}
tr td:nth-child(2)
{
    width: 20px;
    text-align: center;
}

